@import 'nativescript-theme-core/scss/light';

@import 'nativescript-theme-core/scss/index';

.sideStackLayout {
  background-color: white;
}

.sideLabel {
  padding: 10;
}

.sideLabelHeader {
  background-color: #eee;
}



.btn-flat {
    border-width: 1;
}

.registration-form {
    padding: 1em;
    margin-top: 40px;
    TextField {
        margin-bottom: 15px;
        border-color: #eee;
        border-bottom-width: 2;
    }
    Button {
        margin-bottom: 15px;
    }
    * {
        width: 80%;
    }
}
