<ActionBar title="Registro de usuarios" class="action-bar bg-primary"></ActionBar>
<FlexboxLayout flexDirection="column" class="login" alignItems="center" justifyContent="center" >
    <Label text="Email"></Label>
    <TextField></TextField>

    <Label text="Contraseña"></Label>
    <TextField hint="Al menos 6 caracteres"></TextField>

    <Button text="Ingresar a tu cuenta" class="bg-primary"></Button>
    <Button text="Crea una cuenta" (tap)="goToSignUp()" class="btn-flat"></Button>
</FlexboxLayout>